[submodule "dhd"]
	path = dhd
	url = https://github.com/mer-hybris/droid-hal-device.git
[submodule "hybris/mer-kernel-check"]
	path = hybris/mer-kernel-check
	url = https://github.com/mer-hybris/mer-kernel-check.git
[submodule "hybris/mw/libhybris"]
	path = hybris/mw/libhybris
	url = https://github.com/mer-hybris/libhybris.git
[submodule "hybris/hybris-boot"]
	path = hybris/hybris-boot
	url = https://github.com/mer-hybris/hybris-boot.git
[submodule "hybris/busybox"]
	path = hybris/busybox
	url = https://github.com/mer-hybris/android_external_busybox_prebuilt.git
[submodule "hybris-patches"]
	path = hybris-patches
	url = https://github.com/mer-hybris/hybris-patches.git
	branch = hybris-sony-aosp-13
[submodule "kernel/sony/msm-5.4/kernel"]
	path = kernel/sony/msm-5.4/kernel
	url = https://github.com/mer-hybris/android_kernel_sony_msm.git
[submodule "hybris/selinux_stubs"]
	path = hybris/selinux_stubs
	url = https://github.com/mer-hybris/android_external_selinux_stubs
	branch = hybris-20.0
